{% extends 'pessoas/base.html' %}

{% block title %}Consulta Rápida{% endblock %}

{% block content %}
<style>
    /* Estilos para garantir que o iframe ocupe o máximo de espaço possível */
    .iframe-container {
        width: 100%;
        /* Ajuste a altura conforme necessário. 
           100vh - altura do header - margens/paddings */
        height: calc(100vh - 150px); /* Aumentado para garantir que o iframe ocupe mais espaço */
        overflow: auto;
        border: none;
    }

    iframe {
        width: 100%;
        height: 100%;
        border: none;
        display: block;
    }
</style>

<div class="iframe-container">
    <iframe 
        src="https://teleacolhe-unifesp.onrender.com/" 
        title="TeleAcolhe Unifesp - Consulta Rápida"
        allowfullscreen>
    </iframe>
</div>
{% endblock %}
